.container {
  padding: 16px;
}

.content {
  position: relative;
}

.content > div {
  position: absolute;
  width: 200px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  background: rgba(26, 19, 14, 0.96);
  border-radius: 3px;
  user-select: none;
}

.editButton {
  margin-bottom: 12px;
}
