.animated_text {
        display: flex;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.animate-my-text {
        font-size: clamp(3.5rem, 5vw, 6rem);
        transition: .5s ease-in-out;
        color: #f8f8ff;
        margin: 0;
        cursor: default;
        user-select: none;
}

.animate-my-text:hover {
        color: #ffeb3b ;
        transition-duration: .3s;
        animation-name: none ;
}

.stayDown {
        animation: none;
        transition: .5s ease-in-out;
        color: #ffeb3b ;

}

.index-container {
        margin: 0px 7px 0px 7px;
        display: flex;
}


.inputs {
        padding: 10px 20px;
        margin: 10px 10px;
        font-size: 20px;
        font-family: monospace;
        border-radius: 5px;
        border-color: #262626;
        color: deeppink;
        border: 0px solid gray;
        box-shadow: inset 0 1px 4px #00000029;
        width: -webkit-fill-available;
}

input:focus-visible {
        outline: auto;
}

#inputField {

        width: 90%;
        justify-content: center;
        border-bottom: 0px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 10px auto;
        margin-bottom: 50px;
        box-shadow: 0 1px 4px #00000029;
        border-radius: 4px;

        text-align: center;
        flex-wrap: wrap;
        align-items: center;
}


/***** Animation section Class Names *****/

.text-pop-up-top {
        -webkit-animation: text-pop-up-top cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: text-pop-up-top cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-focus-in {
        -webkit-animation: text-focus-in cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-contract-bck-top {
        -webkit-animation: tracking-in-contract-bck-top cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract-bck-top cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.focus-in-expand {
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}



/***** Animation @KeyFrames *****/


/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: none;
        }

        100% {
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
}

@keyframes text-pop-up-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: none;
        }

        100% {
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
}





/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-bottom {
        0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-700px) translateY(500px);
                transform: translateZ(-700px) translateY(500px);
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
        }
}

@keyframes tracking-in-expand-fwd-bottom {
        0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-700px) translateY(500px);
                transform: translateZ(-700px) translateY(500px);
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
        }
}

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
        0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
        }
}

@keyframes tracking-in-contract-bck-top {
        0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
        }
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
        0% {
                letter-spacing: -0.5em;
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes focus-in-expand {
        0% {
                letter-spacing: -0.5em;
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
        0% {
          -webkit-transform: translateX(-1000px) rotate(-720deg);
                  transform: translateX(-1000px) rotate(-720deg);
          -webkit-filter: blur(50px);
                  filter: blur(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes roll-in-blurred-left {
        0% {
          -webkit-transform: translateX(-1000px) rotate(-720deg);
                  transform: translateX(-1000px) rotate(-720deg);
          -webkit-filter: blur(50px);
                  filter: blur(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      