.tile_main {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 1px solid black;
  }
  
  .tile {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  
  .tile-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }

  .circle {
 
    width: 100px;
    height: 100px;
    background-color: rgb(149, 36, 36);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  

  .random_box  {
  background-color: blueviolet;
  color: white;
  height: 50px;
  border-radius: 100%;
  width: 50px;
  font-size: x-small;
  }

  .button_box {
    width: 100px;
    height: 100px;
    background-color: hotpink;
  }