/* 
Pokemon color scheme
red
#c00
#3b4cca
#ffde00
#b3a125

#e13620
#6376b8
#524e4d
#f4f6cc
#23afcc
#f4ab6f



*/


/* Main body styles */

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    height: 100vh;
    gap: 5px;
    justify-content: space-evenly;
}



/* width */
.main::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3b4cca4d; 
  
  }
   
  /* Handle */
  .main::-webkit-scrollbar-thumb {
    background: #e13620; 
    
  }
  
  /* Handle on hover */
  .main::-webkit-scrollbar-thumb:hover {
    background: #524e4d; 
  }


.section1 {
    

    padding: 0px 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.section2 {
  
    min-width: fit-content;
    padding: 0px 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}