.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding-top: 100px;
}

.placeHolder {
    width: 65px;
    box-shadow: 3px 3px 3px #00000047;
    border-radius: 5px;
}


.sprites img{
    filter: drop-shadow(2px 3px 1px #0000006e); 
    max-width: 96px;
    max-height: 96px;
    z-index: 1;
    transition: .2s ease-out;
}

.sprites img:hover{
transform: scale(1.5);
transition: .2s ease-in;
max-width: 96px;
max-height: 96px;
image-rendering: pixelated;
z-index: 2;
}

.main_image_container {
    background-color: red;
    border-radius: 50%;
    transform: rotate3d(2, 1.19, 2, 278deg);
    position: relative;
    box-shadow: -6px 3px 1px 1px white, -6px 3px 1px 1px #141414;
    width: 475px;
    height: 475px;
}

.mainImage {
    transition: .2s ease-in;
    filter: drop-shadow(2px 8px 3px #0000006e);
    position: absolute;
    top: 40%;
    left: 79%;
    transform: translate(-50%, -50%) rotate(15deg) rotate(44deg) scaleY(1.5);
}

