.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin-top: 100px;
    position: relative;
    z-index: 0;
}

.placeHolder {
    width: 65px;
    box-shadow: 3px 3px 3px #00000047;
    border-radius: 5px;
}


.sprites img{
    filter: drop-shadow(2px 3px 1px #0000006e); 
    max-width: 96px;
    max-height: 96px;
    z-index: 1;
    transition: .2s ease-out;
}

.sprites img:hover{
transform: scale(1.5);
transition: .2s ease-in;
max-width: 96px;
max-height: 96px;
image-rendering: pixelated;
z-index: 2;
}

.main_image_container {

    border-radius: 50%;
    position: relative;

}

.mainImage {
    transition: .2s ease-in;
    filter: drop-shadow(2px 8px 3px #0000006e);


}


.poke_BG_color {
    width: 100%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


.all_sprites {
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 100%;
}

.all_sprites .sprites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}