
.stats_container {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: small;
    position: inherit;
}


.stat_bar_container {
    position: relative;
    top: 0;
    left: 0;
    width: 255px;
    background-color: rgb(175 164 147);
    border-top-right-radius: 10px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 2px #0000007d;
 
  }

.stat_bar_progress{
    background-color: rgb(69 171 114);
    height: 8px;
    width: 0%;
}

.stat_percentage, .stat_name  {
    top: -13px;
    left: 0;
    width: 0px;
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
}




  .content {
    transition: 1s;
  }