.cat_image_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #80808042;
    max-height: 600px;
    min-height: 600px;
    min-width: 500px;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.cat_image_container img {
    max-width: 380px;
    max-height: 400px;
}

.cat_button {
    transition: .2s ease-in-out;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}