.main_sortable {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    -webkit-user-select: none;
    user-select: none;
    gap: 20px;
    background-color: rgb(145 145 145 / 13%);
    align-items: flex-start;
    padding-bottom: 20px;
    border-radius: 5px;
}


.main_sortable h1 {
    width: 100%;
}

.main_sortable .sortable {
    width: 200px;
    padding: 0px;
    border: 1px solid #8080801f;
    background-color: rgba(128, 128, 128, 0.267);
    min-height: 50px;
    min-width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    user-select: none;
    max-height: 400px;
    overflow: auto;
}

.item {
    width: 100%;
    min-width: 100px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.item:hover {
    background-color: #83838317;

}


.item:active {
    background-color: #cc5151;

}

/* .main_sortable .list-group {
    width: 45%;
} */


.ghost {
    background-color: #cc5151;
}

.main_sortableGrid {
    
}

.sortContainer {
    display: flex;
    gap: 20px;
    background-color: beige;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
}