.user_list {
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; */
    width: inherit;
    font-family: 'Black Ops One', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user_list button {
  font-weight: 200;
}

.user_list pre {
  font-size: 10px;
  text-align: left;
}

.search_input {
    width: 100%;
    margin: auto;
}

.search {
  
  border-color: #2e8ae3;
  border-radius: 4px;
  color: #c32c75;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

.searchinput:focus-visible {
  outline: initial;
  border-color: #c6659d;
}

.user_list table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-height: 50vh;
    min-width: 900px;
  }

  .user_list tbody {
    height: 500px;
    overflow: auto;
  }
  
 .user_list td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 .user_list tr:nth-child(even) {
    background-color: #dddddd;
  }

  .date_section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .date_section button {
    margin-left: 10px;
    font-size: 12px;
  }

  .date_section button span {
    padding: 0px !important;
    font-family: sans-serif;
  }

  .filter_dates_header_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
  }