.main_section {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 30px;
  /* width: 35%; */
  margin: auto;
  justify-content: center;
}