.menu_section {
    width: 225px;
    position: relative;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-image: url("../static/images/body-bg.jpg");
    border-right: 2px solid rgb(187, 187, 187);
    align-items: flex-start;
    text-align: initial;
    
}



.menu_items {
    cursor: pointer;
    margin: 0;
    transition: .2s;
}

.menu_items:hover {
 text-shadow: none;
 transition: .2s;
 color: #bbffbb;
 font-size: 1rem;
}

.menu_items:active {
   /* color: black; */
}

.menu_section a {
    text-decoration: none;
    color: #f68181;
    font-size: initial;
}

.active_build {
    background-color: #403814;
    border-radius: 30px;
    padding: 0px 5px 0px 5px;
}