.card {
 box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 20%);
 transition: 0.3s;
 width: 280px;
 margin: auto;
 margin-top: 30px;
 max-width: 300px;
 min-width: 200px;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.cardImage {
 padding: 5px;
}
.card img {
width: 100%;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
 padding: 0px 5px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0px 5px;
}
.container p {
 overflow: auto;
 margin: 0px;
 text-align: center;
}
.container h2 {
 margin: 10px;
 font-size: 20px;
 font-family: cursive;
 word-spacing: 0px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.container p::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container p {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}