
.App {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);

  text-align: center;
  font-size: large;
  overflow: hidden;
  position: relative;
}

.content_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  max-width: 1105px;
  margin-left: initial;
  border-right: 0.2rem solid #ececec;
  background-color: #ffffff;
  padding: 20px;
}

p {
  color: #403814;
}