
.App {
  background-color: #fafafa;
  background-image: url('./static/images/bg.gif');
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);

  text-align: center;
  font-size: large;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  /* 'scroll-behavior' is not supported by Safari < 15.4, Safari on iOS < 15.4. */
}
motion.div {
  position: relative;
}
.content_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  max-width: 1105px;
  margin-left: initial;
  border-right: 0.2rem solid #ececec;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

p {
  color: #403814;
}







@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

