
.App {
  background-color: #fafafa;
  background-image: url('./static/images/bg.gif');
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);

  text-align: center;
  font-size: large;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  /* 'scroll-behavior' is not supported by Safari < 15.4, Safari on iOS < 15.4. */
}
motion.div {
  position: relative;
}
.content_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  max-width: 1105px;
  margin-left: initial;
  border-radius: 0px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 2px 2px 9px #000000bf;
  z-index: 5;
}

p {
  color: #403814;
}

.layers {
  width: 100%;
}

.layer-1 {
  background-color: #D26AA5;
  max-width: 1120px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 4;
  left: 225px;
  bottom: -20px;
  box-shadow: 2px 2px 9px #000000bf;
}
.layer-2 {
  background-color: #C92F77;
  max-width:1135px ;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  left: 225px;
  bottom: -40px;
  box-shadow: 2px 2px 9px #000000bf;
}
.layer-3 {
  background-color: #5F2D74;
  max-width: 1150px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  left: 225px;
  bottom: -60px;
  box-shadow: 2px 2px 9px #000000bf;

}
.layer-4 {
  background-color:#3D228D ;
  max-width: 1165px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  left: 225px;
  bottom: -80px;
  box-shadow: 2px 2px 9px #000000bf;
}
.layer-5 {
  background-color: #1A044D;
  max-width: 1180px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  left: 225px;
  bottom: -100px;
  box-shadow: 2px 2px 9px #000000bf;
}







@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

