@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Black+Ops+One&family=Bungee+Inline&family=Concert+One&family=Henny+Penny&family=Lobster+Two&family=Luckiest+Guy&family=Poiret+One&family=Reggae+One&family=Tapestry&family=Wallpoet&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500&family=Barlow:wght@400;500&family=DM+Mono:wght@300;400;500&family=Handlee&family=IBM+Plex+Mono:wght@400;500&family=Inconsolata:wght@400;500&family=Kanit:wght@200;300;400;500&family=Karla:wght@300;400;500&family=Patrick+Hand&family=Raleway:wght@300;400;500&family=Red+Hat+Mono:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400;500&family=Space+Mono:wght@400;700&family=Titillium+Web:wght@200;300;400;600&family=Ubuntu+Mono:wght@400;700&family=Varela&family=Varela+Round&display=swap');


/*
Custom Fonts
========
font-family: 'Assistant', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'DM Mono', monospace;
font-family: 'Handlee', cursive;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Kanit', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif;


font-family: 'Audiowide', cursive;
font-family: 'Bangers', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Concert One', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Reggae One', cursive;
font-family: 'Tapestry', cursive;
font-family: 'Wallpoet', cursive;
font-family: 'Water Brush', cursive; 
*/

h1 {
 font-family: 'Audiowide', cursive;
}

.menu_section  a {
  font-family: 'Varela', sans-serif;

}




