.menu_section {
    width: 300px;
    background-color: gray;
    position: relative;
    height: 100vh;
    overflow: auto;
}

.menu_items {
    cursor: pointer;
    margin: 0;
}

.menu_items:hover {
 background-color: rosybrown;
}

.menu_items:active {
    cursor: pointer;
}